/bin/
/build/deploy/bundles/
macbuild/
build.fxbuild
.DS_Store
.classpath
/bin/
Thumbs.db
/libs/pico/
/UnitTestingOutputs

#including the build xml files and the necessary icon files.
!macbuild/

macbuild/*
!macbuild/package/

macbuild/package/*
!macbuild/package/build.xml
!macbuild/package/package

macbuild/package/package/*
!macbuild/package/package/macosx

macbuild/package/package/macosx/*
!macbuild/package/package/macosx/SurePulse.icns
!macbuild/package/package/macosx/SurePulse-volume.icns

