
.delimiter-hbox{
	-fx-spacing: 10;
}

.custom-delimeter-hbox{
	-fx-spacing: 10;
}

.parseInfoVBox{
	-fx-spacing: 10;
	-fx-padding:5;
	-fx-alignment: top-center ;
	-fx-border-color: #bdbdbd;
	-fx-border-radius:5;
    -fx-border-insets: 3;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.offset-hbox{
	-fx-spacing: 10;
}

.label-textbox-hbox{
	-fx-spacing: 10;
}

.big-label{
	-fx-font-size:15;
}

.left-hbox{
	-fx-alignment:center-left;
}

.small-textfield{
	-fx-pref-width:50;
}