/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.textbox-error {
    -fx-border-insets: 0;
    -fx-border-width: 4px;
    -fx-border-color: red;
}

.spreadsheet-cell.row_header{
     -fx-background-color: #b4d4ad ;
     -fx-background-insets: 0, 0 1 1 0;
     -fx-alignment: center;
 }
 .spreadsheet-cell.gray_background{
     -fx-background-color: #E0E0E0  ;
 }
 